html, body{
    font-family: sans-serif;
    color: white;
    background-color: #21232a;
}

body{
    padding: 10px 60px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-inline-start: 0px;
}

.list-category-grid{
    flex-direction: column;
}

.list-items-grid{
    flex-direction: row;
}

.listaGif{
    list-style: none;
}

.listaGif-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 6px;
    margin: 10px;
    overflow: hidden;
}

.listaGif-content img{
    max-width: 250px;
}

.listaGif-content h3{
    text-align: center;
    max-width: 250px;
}